<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

<!--       sidebar was here-->
        {% include 'sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

<!--               top bar was here-->
                {% include 'topbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">PropertyDetails</h1>
                        <a href="/searchlandlord" class=" d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-eye "></i> View Allocations</a>
                    </div>
                    <br><br>


                 <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">PROPERTY Details </h6>
                        </div>
                      <b>
                      </b><br>



                        <div class="card-body">
                            <div class="table-responsive">
                                <br>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                   {% if messages %}
                                      {% for category, message in messages %}
                                      <div class="alert alert-{{category}}" role="alert">
                                           {{ message }}
                                      </div>
                                      {% endfor %}
                                   {% endif %}
                                {% endwith %}

                                        <h6 class="m-0 font-weight-light text-primary">Search with your liking </h6><br>
                              <form action="/allocateunit" method="post" class="form-inline">
                                <input type="number" name="min" placeholder="Enter Min Cost" class="form-control">
                                <input type="number" name="max" placeholder="Enter Max Cost" class="form-control">
                                   <select name="location_name" id="" class="form-control">
                                     <option value="0">No location</option>
                                 {% for location in locations %}
                                 <option value="{{location[1]}}">{{location[1]}}</option>
                                 {% endfor %}
                                     </select>

                                   <select name="type_id" id="" class="form-control">
                                        <option value="0">No Type</option>

                                 {% for type in types %}
                                 <option value="{{type[0]}}">{{type[1]}}</option>
                                 {% endfor %}
                                     </select>


                                  <br><input type="submit" class="btn btn-info justify-content-center" value="search">
                                </form>


                                {% if rows %}

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                        <tr>
                                            <th>Code Name</th>
                                            <th>Unit Type</th>
                                            <th>Location</th>
                                            <th>Cost</th>


                                        </tr>
                                    </thead>

                                    {% for row in rows %}

                                    <tbody>
                                        <tr>
                                            <td>{{row[1]}}</td>
                                            <td>{{row[4]}}</td>
                                            <td>{{row[6]}}</td>


                                          <td>{{row[7]}}</td>
                                             <td> <a href="/tenantallocate/{{row[0]}}" onclick="return confirm('Do You Want To Allocate The Tenant To This Unit');">
                                                <i class="fas fa-plus-square " style="color:red;"><br>ALLOCATE TO TENANT</i>
                                            </a></td>

                                        </tr>
                                </tbody>
                                      <br>
                                    {% endfor %}
                                </table>
                                {% else %}
                                 <b style="color:red;">{{msg}}</b>
                                {% endif %}
                            </div>

                        </div>
                 </div>

                    <br><br><br>


            <!-- Footer -->

            <!-- End of Footer -->
                </div>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/chart-area-demo.js"></script>
    <script src="../static/js/demo/chart-pie-demo.js"></script>

</body>

</html>